- content_for :css do
  = stylesheet_link_tag 'top'
.top
  %header
    .navbar
      .logo
        %h1= t('view.logo')
        %h5
          日々の習慣管理を美しく。
      .buttons
        =link_to t('view.submit_new'), new_user_registration_path, class:  "btn btn-primary"      
        =link_to t('view.log_in'), new_user_session_path, class:  "btn btn-primary"
    .text-content    