.chart {
  background: rgba( 107, 167, 227, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 40px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 15px;
  background: #fff;
}