@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

.top {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;  
  background: rgb(241, 240, 240);
}

h1 {
  font-family: 'Suez One', serif;
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 3px;
}

h5 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 1px;
}

header {
  height: 90vh;
  width: 90vw;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
  margin: auto;
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .navbar {
  width: 100%;
  display: flex;
  padding: 35px 50px;
  justify-content: space-between;
}

header .navbar .logo a{
  font-size: 50px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

header .navbar .menu {
  display: flex;
}

.navbar .menu li {
  list-style: none;
  margin: 0 6px;
}

.navbar .menu a {
  text-decoration: none;
  color: #000;
  font-size: 50px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.navbar .menu a:hover {
  color: #f2f2f2;
}

.buttons .btn-primary {
  color: #f2f2f2;
  outline: none;
  font-size: 25px;
  font-weight: 400;
  padding: 6px 12px;
  margin: 10px 8px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient(0deg, rgb(119, 171, 230) 0%, rgb(55, 83, 238) 100%);
}

.buttons .btn-primary:hover {
  transform: scale(0.96);
}

.btn-outline-dark {
  border-radius: 12px;  
}

.modal-content {
  border-radius: 1.5rem;
  width: 80%;
}