body {
  background: rgb(241, 240, 240);
}

.circle-avatar img {
  width: 180px;
  height: 180px;
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
  border: 2px solid #000;
}

#post_img {
  margin: 10px;
}

.hidden {
  display: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 25px !important;
  margin-top: 100px;
  margin-bottom: 1.5rem;
  box-shadow: 2px 3px 15px #999;
}

@media (min-width: 1200px) {
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px !important;
}}

.pagination>li>a {          
  border: none;
  color: #696969;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #3a724d !important;
  border-color: #3a724d !important;
}

.pagination>.active>a {     
  background: #3a724d;
  border-radius: 15px;
}

.pagination>li>a:hover {        
  border-radius: 15px; 
}