            <%# <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
        </nav> %>
  <%# <div id="cards">
    <%= render 'card' %>
  <%# </div> %>
    <section>
      <div class="container-fruid">
        <div class="row justify-content-center">
          <div class="flex col-xl-12 col-lg-12 col-md-12">            
            <div id="calendar"></div>          
          </div>
        </div>
      </div>
    
  </section>
<%# <div class="wrapper">
  <div id="calendar"></div>
</div> %>